<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >


    <test name="test1">

        <parameter name="sUsername" value="" />

        <parameter name="sPassword" value=""/>

    </test>

    <test name="2">

        <parameter name="sUsername" value="zolotoy18.12.1988@gmail.com"/>

        <parameter name="sPassword" value="123"/>

    </test>

    <test name="3">

        <parameter name="sUsername" value="zolotoy18.12.1988@gmail.com"/>

        <parameter name="sPassword" value="12345"/>

    </test>








</suite>
